.jumbotron {
  padding-top: 5rem;
  background-color: red;
}

#project {
  background-color: #a6c1b0;
}
#VectorArt {
  background-color: #a6c1b0;
}
#Banner {
  background-color: #a6c1b0;
}
section {
  padding-top: 5rem;
}

#SocialMedia {
  background-color: #a6c1b0;
}
#Logo {
  background-color: #a6c1b0;
}